---
layout: layout.liquid
title: 11ty Boilerplate
---


<h1>Quote and Author</h1>

<h2>Quote:</h2>

<div x-data="{quote: $fetchjson('https://dummyjson.com/quotes/1', jsonItem='quote')}">
  <p x-text="quote"></p>
</div>

<h2>Author:</h2>
<div x-data="{author: $fetchjson('https://dummyjson.com/quotes/1', jsonItem='author')}">
  <p x-text="author"></p>
</div>


